@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');


.quoteBox__btn{
    display: block;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 250px rgba(0,0,0,0.5);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    transform: background-color 3s ease in out;
    color: #fff;
    
}

.btn_quoteBox{
    padding-bottom: 100px;
} 
.quoteBox__btn:hover{
    display: block;
    margin: 0 auto;
/*     background-color: rgba(255, 255, 255, 0); */
background-color: #00000054;
    box-shadow: 20px 20px 250px rgba(0, 0, 0, 0.73);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
}


p{
color: #000;
}

.container__cards{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.card{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    position: relative;
    width: 300px;
    height: 430px;
    margin: 0px;
    padding: 0px;
    text-align: justify;
    box-shadow: 20px 20px 250px rgba(0,0,0,0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
/*     border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}
.card:hover{
    transform: translateY(-10px);
}
.card:hover .card__img img{
    transform: scale(1.1);
}


.card__title{
    text-align:left ;
   margin: 0.5rem;

    
}



.card__img{

    width: 100%;
    height: 200px;
    border-radius: 10%;
    overflow: hidden;
    min-height: 1rem;

    

}
.card__img img{
width: 100%;
transition: all 300ms;
height: 200px;

}

.app.bg1{
    background-image: url(/images/bg1.jpg);


}

.app.bg2{
    background-image: url(/images/bg2.jpg);


}

.app.bg3{
    background-image: url(/images/bg3.jpg);


}

.app.bg4{
    background-image: url(/images/bg4.jpg);


}
.app.bg5{
    background-image: url(/images/bg5.jpg);


}
.app.bg6{
    background-image: url(/images/bg6.jpg);


}




.card h2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    color: #fff;
   
}


.card__text{
    
    font-size: 15px;
    font-weight: 900;
    margin: 0px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
   padding: 0px 10px;
    
}
.card__body{
   position: relative;
    z-index: -1;
}
.footer__card{
display: flex;
margin-top: 10px;
color: #fff;
justify-content: space-between;
padding: 1rem;
}

.footer__card h3{
    font-size: 15px;
    font-weight: 900;
}




@media screen and (min-width:375px){
    .container__cards{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
}