.app{

    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: grid;
    justify-items: center;

}

.app.bg1{
    background-image: url(/images/bg1.jpg);


}

.app.bg2{
    background-image: url(/images/bg2.jpg);


}

.app.bg3{
    background-image: url(/images/bg3.jpg);


}

.app.bg4{
    background-image: url(/images/bg4.jpg);


}
.app.bg5{
    background-image: url(/images/bg5.jpg);


}
.app.bg6{
    background-image: url(/images/bg6.jpg);


}

.app__container{
    display: grid;
   grid-template-rows: auto 1fr auto;
   align-items: center;
   justify-items: center;
   width: min(100%,300px);
   padding: 0px;
}


.title{
    margin-top: 15px;
}